<!--
    =======================
    fnSilex by Aymen FNAYOU
    =======================

* project : fnSilex - Simple Silex Boilerplate
* author  : Aymen FNAYOU
* email   : developer@aymen-fnayou.com
* website : https://aymen_fnayou@bitbucket.org/aymen_fnayou/fnsilex.git
-->
{% spaceless %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        {# initiate title hook  #}
        <title>{% block title %}{% endblock %}</title>

        {# include combined css files and initiate a css hook  #}
        <link rel="stylesheet" href="/css/fnsilex.css" />
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {# main content hook  #}
        {% block content %}{% endblock %}

        {# include combined js files and initiate a js hook  #}
        <script type="text/javascript" src="/js/fnsilex.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endspaceless %}