{# extend the main layout file#}
{% extends "layout.html.twig" %}

{# override the content block initiated in layout.html.twig #}
{% block content %}
    <h1>Hello World</h1>
    <p>Welcome to fnSilex - Simple Silex Boilerplate !</p>
{% endblock %}
