{# extend the main layout file#}
{% extends "layout.html.twig" %}

{# override the content block initiated in layout.html.twig #}
{% block content %}
    <h1>404 Error</h1>
    <p>We are sorry, but the page you are looking for does not exist</p>
{% endblock %}
